.mobileContainer {
  display: flex;
  justify-content: center;
}
.mobile {
  /* background-color: white; */
  margin: -40px 24px 0 24px;
  display: flex;
  flex-basis: auto;
  align-items: center;
  justify-content: center;
  width: 87%;
  width: clamp(210px, 87%, 327px);
  padding: 16px 16px 16px 24px;
  border-radius: 6px;
}

.noMobile {
  display: none;
}

.filterPic {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 500px) {
  .mobileContainer {
    display: none;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  .noMobile {
    background-color: white;
    display: flex;
    flex-basis: auto;
    align-items: center;
    border-radius: 6px;
    justify-content: center;
    margin-top: -40px;
    width: clamp(550px, 90%, 800px);
    padding: 0 16px 0 24px;
  }

  .searchPic {
    color: var(--violet);
    width: 24px;
    height: 24px;
    margin-right: 20px;
  }

  .mapPic {
    color: var(--violet);
    width: 17px;
    height: 24px;
    margin-left: 24px;
    margin-right: 14px;
  }

  .filterPic {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
}

@media screen and (min-width: 900px) {
  .noMobile {
    padding: 0 16px 0 32px;
    width: clamp(850px, 77.7%, 1300px);
  }

  /* .filterPic {
    margin-right: clamp(26px, 2%, 40px);
  } */
}
