.text {
  font-family: var(--font-Kumbh);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.24em;
  color: var(--dark-grey);
}

.title {
  font-family: var(--font-Kumbh);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.55em;
}

.city {
  font-family: var(--font-Kumbh);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.085em;
  color: var(--violet);
}

.mg-l {
  margin-left: 32px;
}

.mg-t-l {
  margin-top: 24px;
  margin-left: 32px;
}

.mg-t-b-l {
  margin: 20px 0 30px 32px;
}
