html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

:root {
  --violet: #5964e0;
  --light-violet: #939bf4;
  --dark-blue: #19202d;
  --midnight: #121721;
  --light-grey: #979797;
  --grey: #9daec2;
  --dark-grey: #6e8098;
  --font-Kumbh: "Kumbh Sans", "sans-serif";
}
